@model Domain.Entities.Address
@{
    ViewData["Title"] = "DetailsCustomer";
}

<h1>Szczegoły klienta</h1>

<p>@Model.Street</p>
<p>@Model.NumberOf</p>
<p>@Model.PostCode</p>
<p>@Model.City</p>
<a href=@Url.ActionLink("CustomerList", "Customer")>Wróć</a>


