@{
    ViewData["Title"] = "Home Page";
    var weekend = DateTime.Now.DayOfWeek;
    var date = DateTime.Now;
}
<link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;900&display=swap" rel="stylesheet">

<div class="bs-body-color"> 
    <div id="date">    
       <a>@date
            @if (weekend == DayOfWeek.Sunday || weekend == DayOfWeek.Saturday)
            {
                <p>Miłego weekendu</p>
            }
       </a>
     </div>


    <h2>Welcome</h2>

    <a>This is invoice genarator.</a>
    <p>
        This is a free and simple online invoicing program that helps you with your office duties. 
    </p>
    <a></a>
    <h4>You can read more and download program <a href="https://github.com/adamus9050/adamus9050-Invoke-Generator-.net-Mvc-">here</a>.</h4>

</div>