@model IEnumerable<Domain.Entities.Material>
@{
    ViewData["Title"] = "SearchMaterial";
}

<h1>Wyszukiwarka</h1>
@using (Html.BeginForm("SearchMaterial", "Home", FormMethod.Post))
{
           <input type="text" name="searchMaterial" />
       <input type="submit" value="Filter" /> 
}

<ul>     
    @foreach (var material in Model)
    {
          <li>
            @material.Name
            @material.Description
            @material.Price
          </li>

    }
</ul>