@model IEnumerable<Domain.Entities.Material>
@{
    ViewData["Title"] = "Search";
}

<h1>Wyszukiwarka</h1>
@using (Html.BeginForm("Search", "Customer", FormMethod.Post))
{
       <input type="text" name="SearchString" />
       <input type="submit" value="Filter" /> 

       <h6>wpisz właściwość klienta</h6> 
}

<ul>     
    @foreach (var material in Model)
    {
          <li>
            @material.Name
            @material.Description
            @material.Price

            <a href="@Url.Action("DetailsCustomer","Customer", new {Id =material.Id})">Szczegóły</a>
          </li>

    }
</ul>