@using Application.Dto
@model IEnumerable<MaterialDto>

@{
    ViewData["Title"] = "SearchMaterial";
}

<h1>Wyszukiwarka</h1>

@using (Html.BeginForm("SearchMaterial", "Home", FormMethod.Post))
{
           <input type="text" name="SearchMaterial" />
       <input type="submit" value="Filter" /> 
}

<ul>     
    @foreach (var material in Model)
    {
          <li>
            @material.Name
            @material.Description
            @material.Price
          </li>

    }
</ul>
<div>
    <a asp-action="List">Wróć</a>
</div>